* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Dela Gothic One', cursive;
    background-size: cover;
}

.dark-mood {
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: #ffff;
    z-index: -1;
    position: fixed;
}

.backdrop {
    width: 100vw;
    height: 100vh;
    display: block;
    z-index: -1;
    background-color: rgb(32, 32, 32);
    position: fixed;
}

.main-sun {
    display: flex;
    justify-content: flex-end;
    text-align: end;
    /* margin-top: 1rem; */
    margin-right: 1rem;
}

.main-sun__button {
    margin-top: 1rem;
    background: transparent;
    border: none;
}

.main-moon {
    display: none;
    justify-content: flex-end;
    text-align: end;
    /* margin-top: 1rem; */
    width: 100vw;
    margin-right: 1rem;
}

.main-moon__button {
    margin-top: 1rem;
    margin-right: 1rem;
    background: transparent;
    border: none;
}

.main-div-h1 {
    display: flex;
    justify-content: center;
}

.main-h1 {
    color: #fff;
}

.main-nav {
    text-align: center;
    margin: 0;
}

.games-img {
    width: 220px;
    height: 320px;
}

.games {
    display: inline-block;
    margin: 10px;
    box-shadow: 2px 2px 2px 2px #888;
    transition: all 0.6s;
}

.games:hover,
.games:active {
    transform: scale(1.1);
    position: relative;
}

.img {
    display: block;
    width: 219px;
    height: 319px;
}

.text1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 220px;
    height: 320px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.text1 > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.text1:hover,
.text1:active {
    opacity: 1;
}

.main-nav2 {
    text-align: center;
    margin: 0;
}